.menu {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    

    width: 100%;
}

.menu button {
   width: 20rem;
   max-width: 100%;
}